body {
    background-color: rgb(221, 23, 139);
    background-image: url("https://t4.ftcdn.net/jpg/03/04/19/71/360_F_304197125_VyputFZzIIam7Bp4KzAxFNGkgGSWQaEl.jpg");
}

h1 {
    color: rgb(10, 201, 137);
    background-color: rgb(110, 7, 207)
}