.wrap{
    margin:30px auto;
    max-width: 1000px;
    width: 90vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    font-family: sans-serif;
}
.box{
    width:calc(20%);
    margin: 20px 20px;
    background:#ddd;
    cursor: pointer;
    color:#fff;
    text-align: center;
    line-height: 130px;

}
.blue{
    background:blue;
}
.ScaleX{
    transform: ScaleX(1);
    transition: transform 0.5s ease;
}
.box:hover .ScaleX{
    transform: ScaleX(2);
}
.ScaleY{
    transform: ScaleY(1);
    transition: transform 0.5s ease;
}
.box:hover .ScaleY{
    transform: ScaleY(2);
}
.Scale{
    transform: Scale(1, 1);
    transition: transform 0.5s ease;
}
.box:hover .Scale{
    transform: Scale(1.5,1.5);
}
.TranslateX{
    transform: TranslateX(1);
    transition: transform 0.5s ease;
}
.box:hover .TranslateX{
    transform: TranslateX(2em);
}
.TranslateY{
    transform: TranslateY(1);
    transition: transform 0.5s ease;
}
.box:hover .TranslateY{
    transform: TranslateY(2em);
}
.Translate{
    transform: Translate(1, 1);
    transition: transform 0.5s ease;
}
.box:hover .Translate{
    transform: Translate(2em, 2em);
}
.Matrix{
    transform: Matrix(1,1,1,1);
    transition: transform 0.5s ease;
}
.box:hover .Matrix{
    transform: Matrix(1,-1,0,1,0,0);
}
.rotate {
  transform: rotate(0);
  transition: transform 0.5s ease;
}

.box:hover .rotate {
  transform: rotate(270deg);
}

.Skew {
  transform: Skew(1, 1);
  transition: transform 0.5s ease;
}

.box:hover .Skew {
  transform: Skew(30deg, 20deg);

}

.SkewX {
  transform: SkewX(1);
  transition: transform 0.5s ease;
}

.box:hover .SkewX {
  transform: SkewX(30deg);

}

.SkewY {
  transform: SkewY(1);
  transition: transform 0.5s ease;
}

.box:hover .SkewY {
  transform: SkewY(30deg);

}

.MatriX3d {
  transform: MatriX3d(1);
  transition: transform 0.5s ease;
}

.box:hover .MatriX3d {
  transform: MatriX3d(0.8535533905932737, 0.4999999999999999, 0.14644660940672619, 0, -0.4999999999999999, 0.7071067811865476, 0.499999999999999９, 0, 0.1464466094067261９, -0.4999９９９９９９９９９９９９, 0.8535533 ninety5 ninety3 twenty737, 0, 22.62 ninety4 twenty3 one4 ninety1 one1 nine, -20.3223304703363, 101.3700576850888, 1)
}

.Translate3D {
  transform: Translate3D( 1);
  transition: transform 0.5s ease;
}

.box:hover .Translate3D {
  transform: Translate3D(1px, 1px, 50px) Rotate3D(3, 2, 2, 90deg);

}

.RotateY {
  transform: perspective(1) scaleZ(1) RotateY(0deg);
  transition: transform 0.5s ease;
}

.box:hover .RotateY {
  transform: perspective(500px) scaleZ(2) RotateY(45deg);

}

.RotateX {
  transform: perspective(1) scaleZ(1) RotateX(0deg);
  transition: transform 0.5s ease;
}

.box:hover .RotateX {
  transform: perspective(500px) scaleZ(2) RotateX(45deg);

}

.TranslateZ {
  transform: TranslateZ(1px);
  transition: transform 0.5s ease;
}

.box:hover .TranslateZ {
  transform: rotate3d(3, 2, 2, 90deg) TranslateZ(50px);

}

