body{
  background-color: rgb(243, 118, 180);
}
.div1{
  border:2px solid rgb(252, 228, 228);
  margin:14px;
  padding:14px;

}
.div2{
  border:2px solid rgb(252, 228, 228);
  margin:14px;
  padding:14px;

}
.div3{
  border:2px solid rgb(252, 228, 228);
  margin:14px;
  padding:14px;

}
.div4{
  border:2px solid rgb(252, 228, 228);
  margin:14px;
  padding:14px;

}
.div5{
  border:2px solid rgb(252, 228, 228);
  margin:14px;
  padding:14px;

}
